.bold {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.c-co-cheng {
    color: #e29634;
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.c-co-hong {
    color: #cf2d42;
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.c-co-lan {
    color: #4ea9e0;
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.c-co-lv {
    color: #7fb748;
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.c-co-zi {
    color: #b963a4;
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre5 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre6 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.calibre10 {
    display: block;
    text-align: center
    }
.calibre11 {
    height: auto;
    width: 100%
    }
.calibre12 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: center
    }
.calibre13 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre14 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.calibre15 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.colorcont {
    color: #000;
    font-weight: bold;
    line-height: 1.2
    }
.colorcont1 {
    color: #000;
    font-size: 0.75em;
    font-weight: bold
    }
.cont {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.1em;
    text-align: center
    }
.cont1 {
    display: block;
    line-height: 1.2;
    text-indent: 1em
    }
.em {
    font-size: 1.41667em;
    line-height: 1.2
    }
.em1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.h {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 1.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.6em;
    text-align: center
    }
.message {
    display: block;
    font-size: 0.75em;
    line-height: 100%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-align: justify;
    text-indent: 0
    }
.right {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-align: right;
    text-indent: 2em
    }
.sgc-toc-level {
    display: block;
    margin-left: 0
    }
.sgc-toc-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    text-align: center
    }
