.bold {
    display: block;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.c {
    color: #000;
    text-shadow: 0 0 5px #0199E6, 0 0 5px #0199E6
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.calibre1 {
    height: auto;
    width: auto
    }
.calibre2 {
    clear: both;
    display: block;
    line-height: 1.3;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-indent: 2em
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-size: 1.17647em;
    line-height: 1.2;
    text-indent: 0
    }
.calibre5 {
    display: block;
    line-height: 1.3;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-indent: 2em
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre8 {
    display: table-row;
    vertical-align: inherit
    }
.calibre9 {
    font-style: italic
    }
.calibre10 {
    ruby-align: center
    }
.calibre11 {
    font-size: 0.75em
    }
.calibre12 {
    font-style: italic;
    text-indent: 2em
    }
.calibre13 {
    font-style: italic;
    font-weight: bold
    }
.calibre14 {
    display: block;
    line-height: 1.3;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: right;
    text-indent: 2em
    }
.calibre15 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre17 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre18 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre19 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre21 {
    display: block;
    line-height: 1.2
    }
.calibre22 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre23 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.center {
    display: block;
    line-height: 1.3;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0
    }
.center1 {
    color: #FFF;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 5px #0199E6, 0 0 5px #0199E6
    }
.center2 {
    color: #000;
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 5px #0199E6, 0 0 5px #0199E6
    }
.center3 {
    display: block;
    duokan-bleed: leftright;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.color {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.cover {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.cutline {
    display: block;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.fr {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #FFF
    }
.fr1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.left {
    display: table-cell;
    duokan-text-indent: 0;
    padding-bottom: 0.9em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9em;
    text-align: left;
    text-indent: 0;
    vertical-align: inherit
    }
.logoarea {
    display: block;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.logoimage {
    height: auto;
    width: 100%
    }
.makerifm {
    display: block;
    line-height: 1.2;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0
    }
.makertitle {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 0
    }
.mbt {
    color: #000;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center
    }
.nodeco {
    color: #000;
    text-decoration: none
    }
.right {
    display: block;
    line-height: 1.3;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: right;
    text-indent: 0
    }
.tdcenter {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-indent: 0
    }
.tdtop {
    display: table-cell;
    padding-bottom: 0.9em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.9em;
    text-align: inherit;
    vertical-align: top;
    width: 4em
    }
.title {
    display: block;
    font-family: title;
    line-height: 1.2;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.zin {
    display: block;
    font-size: 0.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-indent: 0
    }
.zin1 {
    display: block;
    font-size: 0.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-indent: 0
    }
.zin2 {
    display: block;
    font-size: 0.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.zin3 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-indent: 0
    }
.zin4 {
    display: block;
    font-size: 0.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.zin5 {
    display: block;
    font-size: 0.41667em;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin6 {
    display: block;
    font-size: 2em;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-right: 0;
    margin-top: 0.1em;
    text-indent: 0
    }
.zin7 {
    color: #FFF;
    display: block;
    font-size: 2em;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 5px #0199E6, 0 0 5px #0199E6
    }
.zin8 {
    color: #000;
    display: block;
    font-size: 2em;
    line-height: 1.3;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 5px #0199E6, 0 0 5px #0199E6
    }
