.back {
    background-image: url(1/OEBPS/Images/contents.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.back1 {
    background-image: url(2/OEBPS/Images/contents.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.back2 {
    background-image: url(3/OEBPS/Images/contents.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.back3 {
    background-image: url(4/OEBPS/Images/contents.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.back4 {
    background-image: url(5/OEBPS/Images/contents.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.back5 {
    background-image: url(6/OEBPS/Images/contents.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.back6 {
    background-image: url(7/OEBPS/Images/contents.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.biaoti {
    display: block;
    font-family: "title";
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0.4em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre4 {
    height: auto;
    width: auto
    }
.calibre5 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.calibre6 {
    display: block;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre8 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre9 {
    line-height: 1.2
    }
.calibre10 {
    clear: both;
    display: block;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.calibre11 {
    clear: right;
    display: block;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.calibre12 {
    font-weight: bold
    }
.calibre13 {
    clear: both;
    display: block;
    line-height: 1.3em;
    margin-bottom: -1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 2em
    }
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 4.1em
    }
.calibre15 {
    display: block;
    line-height: 1.2
    }
.calibre16 {
    background-color: #000;
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.calibre17 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.center {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    width: 1em
    }
.co {
    color: #000;
    font-size: 1.125em;
    line-height: 1.2;
    text-shadow: 0 0 3px #fff
    }
.co1 {
    color: #000
    }
.co2 {
    color: #fff;
    text-shadow: 0 0 3px #000
    }
.cont {
    display: block;
    font-family: cont1;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.cont-line {
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1.5px;
    display: block;
    line-height: 1.3em;
    margin-bottom: -1.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-indent: 2em
    }
.cont-line1 {
    border-top-color: #fff;
    border-top-style: solid;
    border-top-width: 1.5px;
    display: block;
    line-height: 1.3em;
    margin-bottom: -1.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-indent: 2em
    }
.cover {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.coverborder {
    border-bottom-color: #716F71;
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-left-color: #716F71;
    border-left-style: none;
    border-left-width: 1px;
    border-right-color: #716F71;
    border-right-style: none;
    border-right-width: 1px;
    border-top-color: #716F71;
    border-top-style: none;
    border-top-width: 1px;
    height: auto;
    width: auto
    }
.duokan-footnote {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 1.2em;
    text-decoration: none;
    width: auto
    }
.duokan-footnote-content {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.duokan-footnote-item {
    display: list-item;
    font-family: "DK-SONGTI";
    font-size: 0.75em;
    text-align: left;
    text-indent: 0;
    text-shadow: 0 0 0.1em #000
    }
.em {
    color: #fff;
    font-size: 2em;
    line-height: 1.2;
    text-shadow: 0 0 3px #06BCEE
    }
.em1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 2em
    }
.em2 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.em3 {
    display: block;
    font-size: 0.55556em;
    line-height: 1.2;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.em4 {
    color: #fff;
    font-size: 2em;
    line-height: 1.2;
    text-shadow: 0 0 3px #E84884
    }
.em5 {
    color: #fff;
    font-size: 2em;
    line-height: 1.2;
    text-shadow: 0 0 3px #9AC530
    }
.em6 {
    color: #fff;
    font-size: 2em;
    line-height: 1.2;
    text-shadow: 0 0 3px #5F3786
    }
.em7 {
    display: block;
    font-size: 1.41667em;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 2em
    }
.em8 {
    color: #fff;
    font-size: 2em;
    line-height: 1.2;
    text-shadow: 0 0 3px #F3974E
    }
.em9 {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.fl {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #fff
    }
.fl1 {
    display: block;
    float: left;
    font-family: cont1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 10.5em
    }
.fl2 {
    display: block;
    float: left;
    font-family: cont1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 12.8em
    }
.fl3 {
    color: #fff;
    display: block;
    float: left;
    font-family: illus1;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #9AC530;
    width: 1em
    }
.fl4 {
    color: #fff;
    display: block;
    float: left;
    font-family: illus1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 18%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #5F3786;
    width: 1em
    }
.fl5 {
    color: #fff;
    display: block;
    float: left;
    font-family: illus1;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #5F3786;
    width: 1em
    }
.fl6 {
    display: block;
    float: left;
    font-family: cont1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 35%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 12em
    }
.fl7 {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-left: 21%;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #fff
    }
.fl8 {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.fl9 {
    display: block;
    float: left;
    font-family: cont1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 12em
    }
.fl10 {
    color: #fff;
    display: block;
    float: left;
    font-family: illus1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 25%;
    margin-right: 0.2em;
    margin-top: 11.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #F3974E;
    width: 1em
    }
.fl11 {
    color: #fff;
    display: block;
    float: left;
    font-family: illus1;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #F3974E;
    width: 1em
    }
.fl12 {
    color: #fff;
    display: block;
    float: left;
    font-family: illus1;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #F3974E;
    width: 1em
    }
.fl13 {
    display: block;
    float: left;
    font-family: cont1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 12em
    }
.footnote {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 1.2em;
    width: auto
    }
.fr {
    color: #fff;
    display: block;
    float: right;
    font-family: illus1;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #06BCEE;
    width: 1em
    }
.fr1 {
    color: #fff;
    display: block;
    float: right;
    font-family: illus1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.4em;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #06BCEE;
    width: 1em
    }
.fr2 {
    color: #fff;
    display: block;
    float: right;
    font-family: illus1;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #E84884;
    width: 1em
    }
.fr3 {
    display: block;
    float: right;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.fr4 {
    display: block;
    float: right;
    font-family: cont1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 12em
    }
.fr5 {
    display: block;
    float: right;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #fff
    }
.fr6 {
    color: #fff;
    display: block;
    float: right;
    font-family: illus1;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5%;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #8280B1;
    width: 1em
    }
.fr7 {
    color: #fff;
    display: block;
    float: right;
    font-family: illus1;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #8280B1;
    width: 1em
    }
.fr8 {
    color: #fff;
    display: block;
    float: right;
    font-family: illus1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 12em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: 0 0 3px #8280B1;
    width: 1em
    }
.fr9 {
    display: block;
    float: right;
    font-family: cont1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 12em
    }
.fr10 {
    display: block;
    float: right;
    font-family: illus1;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 2%;
    margin-top: 7em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    width: 1em
    }
.fr11 {
    display: block;
    float: right;
    font-family: illus1;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: -2.6em;
    margin-top: 14em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.illus {
    color: #fff;
    display: block;
    font-family: illus1;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #06BCEE
    }
.illus1 {
    color: #fff;
    display: block;
    font-family: illus1;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #E84884
    }
.illus2 {
    color: #fff;
    display: block;
    font-family: illus1;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #9AC530
    }
.illus3 {
    color: #fff;
    display: block;
    font-family: illus1;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #5F3786
    }
.illus4 {
    color: #fff;
    display: block;
    font-family: illus1;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #F3974E
    }
.illus5 {
    color: #fff;
    display: block;
    font-family: illus1;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #8280B1
    }
.illus6 {
    color: #fff;
    display: block;
    font-family: illus1;
    font-size: 0.75em;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #8280B1
    }
.illus7 {
    display: block;
    font-family: illus1;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #fff
    }
.in-co {
    color: #fff;
    display: block;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #000
    }
.meg {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-indent: 0
    }
.message {
    display: block;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0
    }
.message1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0
    }
.mulu {
    display: block;
    font-size: 0.77778em;
    line-height: 1.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.mulu1 {
    color: #fff;
    display: block;
    font-size: 0.77778em;
    line-height: 1.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0;
    text-shadow: 0 0 3px #000
    }
.no-d {
    text-decoration: none
    }
.pius {
    display: block;
    font-family: illus1;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 3.5em;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
    }
.right {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-align: right;
    text-indent: 0
    }
.sco {
    color: #7D517F;
    line-height: 1.2
    }
.sco1 {
    color: #865B90;
    line-height: 1.2
    }
.sco2 {
    color: #8A70A2;
    line-height: 1.2
    }
.sco3 {
    color: #8C74AA;
    line-height: 1.2
    }
.sco4 {
    color: #3CBACB;
    line-height: 1.2
    }
.sco5 {
    color: #60BD9E;
    line-height: 1.2
    }
.sco6 {
    color: #77C07B;
    line-height: 1.2
    }
.sco7 {
    color: #80C172;
    line-height: 1.2
    }
.sco8 {
    color: #1D2710;
    line-height: 1.2
    }
.sco9 {
    color: #4F2F25;
    line-height: 1.2
    }
.sco10 {
    color: #6D1216;
    line-height: 1.2
    }
.sco11 {
    color: #7C0C1C;
    line-height: 1.2
    }
.sco12 {
    color: #64D6F9;
    line-height: 1.2
    }
.sco13 {
    color: #B0ACA9;
    line-height: 1.2
    }
.sco14 {
    color: #D38E80;
    line-height: 1.2
    }
.sco15 {
    color: #F86E67;
    line-height: 1.2
    }
.sco16 {
    color: #F4B30D;
    line-height: 1.2
    }
.sco17 {
    color: #B29677;
    line-height: 1.2
    }
.sco18 {
    color: #4985AC;
    line-height: 1.2
    }
.sco19 {
    color: #007FB9;
    line-height: 1.2
    }
.sco20 {
    color: #A5D7CD;
    line-height: 1.2
    }
.sco21 {
    color: #8EAEC3;
    line-height: 1.2
    }
.sco22 {
    color: #6F88BD;
    line-height: 1.2
    }
.sco23 {
    color: #677CB8;
    line-height: 1.2
    }
.sco24 {
    color: #69518D;
    line-height: 1.2
    }
.sco25 {
    color: #43335F;
    line-height: 1.2
    }
.sco26 {
    color: #201A28;
    line-height: 1.2
    }
.sco27 {
    color: #000;
    line-height: 1.2
    }
.tco {
    display: block;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-shadow: 0 0 3px #fff
    }
.title {
    display: block;
    font-family: title;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.zin {
    display: block;
    font-size: 0.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin1 {
    display: block;
    font-size: 0.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-indent: 0
    }
.zin2 {
    display: block;
    font-size: 0.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.zin3 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 0
    }
.zin4 {
    display: block;
    font-size: 0.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.zin5 {
    display: block;
    font-size: 0.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin6 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.15em;
    text-indent: 0;
    text-shadow: 0 0 3px #06BCEE
    }
.zin7 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-indent: 0;
    text-shadow: 0 0 3px #06BCEE
    }
.zin8 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0
    }
.zin9 {
    display: block;
    font-family: title;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin10 {
    color: #fff;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 9.2em;
    margin-right: 0;
    margin-top: -0.7em;
    text-indent: 0;
    text-shadow: 0 0 3px #87759C
    }
.zin11 {
    color: #872F40;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #DC7889
    }
.zin12 {
    color: #872F40;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0;
    text-shadow: 0 0 3px #DC7889
    }
.zin13 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin14 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 0
    }
.zin15 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin16 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.zin17 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.zin18 {
    display: block;
    font-family: intro2;
    font-size: 0.77778em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin19 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.5em;
    text-indent: 0
    }
.zin20 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: -0.5em;
    text-indent: 0
    }
.zin21 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 27em;
    text-indent: 0
    }
.zin22 {
    display: block;
    font-family: intro1;
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin23 {
    display: block;
    font-family: intro1;
    font-size: 0.41667em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 0
    }
.zin24 {
    display: block;
    font-family: intro2;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin25 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.15em;
    text-indent: 0;
    text-shadow: 0 0 3px #E84884
    }
.zin26 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #E84884
    }
.zin27 {
    color: #fff;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 9.2em;
    margin-right: 0;
    margin-top: -0.7em;
    text-indent: 0;
    text-shadow: 0 0 3px #7AC16F
    }
.zin28 {
    color: #56B46C;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #47B8B4
    }
.zin29 {
    color: #56B46C;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0;
    text-shadow: 0 0 3px #47B8B4
    }
.zin30 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin31 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin32 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 7em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin33 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: -0.3em;
    text-indent: 0
    }
.zin34 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.15em;
    text-indent: 0;
    text-shadow: 0 0 3px #9AC530
    }
.zin35 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #9AC530
    }
.zin36 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 4.3em;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 0
    }
.zin37 {
    color: #000;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 4.1em;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin38 {
    color: #000;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 4.1em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin39 {
    color: #fff;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 9.2em;
    margin-right: 0;
    margin-top: -0.7em;
    text-indent: 0;
    text-shadow: 0 0 3px #000
    }
.zin40 {
    color: #C4283D;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #000
    }
.zin41 {
    color: #C4283D;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0;
    text-shadow: 0 0 3px #000
    }
.zin42 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.15em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin43 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-indent: 0
    }
.zin44 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.8em;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.zin45 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.2em;
    text-indent: 0;
    text-shadow: 0 0 3px #5F3786
    }
.zin46 {
    color: #000;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin47 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0.2em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: -0.1em;
    text-indent: 0;
    text-shadow: 0 0 3px #5F3786
    }
.zin48 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #5F3786
    }
.zin49 {
    color: #fff;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 9.2em;
    margin-right: 0;
    margin-top: -0.7em;
    text-indent: 0;
    text-shadow: 0 0 3px #6DD4F5
    }
.zin50 {
    color: #F66173;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #F1EFF0
    }
.zin51 {
    color: #F66173;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0;
    text-shadow: 0 0 3px #F1EFF0
    }
.zin52 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.1em;
    text-indent: 0
    }
.zin53 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #F3974E
    }
.zin54 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1em;
    text-indent: 0;
    text-shadow: 0 0 3px #F3974E
    }
.zin55 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.7em;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.zin56 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.6em;
    margin-right: 0;
    margin-top: 0.6em;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin57 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.6em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin58 {
    color: #fff;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 9.2em;
    margin-right: 0;
    margin-top: -0.7em;
    text-indent: 0;
    text-shadow: 0 0 3px #F4B30D
    }
.zin59 {
    color: #2DBED6;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #F4B30D
    }
.zin60 {
    color: #2DBED6;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0;
    text-shadow: 0 0 3px #F4B30D
    }
.zin61 {
    color: #fff;
    display: block;
    font-family: intro2;
    font-size: 0.77778em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #000
    }
.zin62 {
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin63 {
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.2em;
    text-indent: 0
    }
.zin64 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 0
    }
.zin65 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-indent: 0;
    text-shadow: 0 0 3px #8280B1
    }
.zin66 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0.15em;
    margin-right: 0;
    margin-top: 30%;
    text-indent: 0;
    text-shadow: 0 0 3px #8280B1
    }
.zin67 {
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 2.7em;
    margin-right: 0;
    margin-top: 0.05em;
    text-indent: 0;
    text-shadow: 0 0 3px #8280B1
    }
.zin68 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 4.5em;
    margin-right: 0;
    margin-top: -2.9em;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin69 {
    color: #fff;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 9.2em;
    margin-right: 0;
    margin-top: -0.7em;
    text-indent: 0;
    text-shadow: 0 0 3px #677CB8
    }
.zin70 {
    color: #677CB8;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin71 {
    color: #677CB8;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin72 {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 0
    }
.zin73 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: -0.3em;
    text-indent: 0
    }
.zin74 {
    color: #000;
    display: block;
    font-family: intro2;
    font-size: 0.77778em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin75 {
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.zin76 {
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0
    }
.zin77 {
    display: block;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.05em;
    text-indent: 0
    }
.zin78 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0.3em;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin79 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.zin80 {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-indent: 0
    }
.zin81 {
    color: #fff;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 9.2em;
    margin-right: 0;
    margin-top: -0.7em;
    text-indent: 0;
    text-shadow: 0 0 3px #43335F
    }
.zin82 {
    color: #000;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin83 {
    color: #000;
    display: block;
    font-family: sum1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: 0;
    text-shadow: 0 0 3px #fff
    }
.zin84 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.4em;
    text-indent: 0
    }
.zin85 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.3em;
    text-indent: 0
    }
.zin86 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.3em;
    text-indent: 0
    }
.zin87 {
    -webkit-transform: rotate(90deg);
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: -3em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0;
    transform: rotate(90deg);
    width: 7.1em
    }
.zin88 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3.2em;
    text-indent: 0
    }
.zin89 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-indent: 0
    }
