.bold {
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-align: justify;
    text-indent: 0
    }
.bold1 {
    display: block;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-align: left;
    text-indent: 0
    }
.caiye {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-align: justify;
    text-indent: 0
    }
.caiye1 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-align: left;
    text-indent: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre2 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    display: block
    }
.calibre7 {
    display: block;
    font-family: "cnepub", serif;
    font-size: 1em;
    letter-spacing: 1pt;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left
    }
.calibre8 {
    display: block;
    float: none;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: left
    }
.calibre9 {
    display: block;
    float: none;
    width: 341
    }
.calibre10 {
    font-size: 1em;
    height: auto;
    letter-spacing: 1pt;
    width: auto
    }
.calibre11 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 2em
    }
.calibre12 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre13 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.calibre14 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 2em
    }
.calibre15 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: left
    }
.calibre16 {
    display: block;
    float: none;
    width: 347
    }
.calibre17 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre18 {
    display: block;
    text-align: center
    }
.calibre19 {
    display: block;
    float: none;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    width: 341
    }
.calibre20 {
    display: block;
    float: none;
    width: 343
    }
.calibre21 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre22 {
    display: block;
    float: none;
    width: 342
    }
.calibre23 {
    display: block;
    float: none;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    width: 323
    }
.calibre24 {
    display: block;
    float: none;
    width: 323
    }
.calibre25 {
    display: block;
    float: none;
    width: 600
    }
.calibre26 {
    display: block;
    float: none;
    width: 349
    }
.calibre27 {
    display: block;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.calibre28 {
    font-size: 1em;
    line-height: 24px
    }
.calibre29 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-align: left;
    text-indent: 2em
    }
.calibre30 {
    display: block;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    text-align: justify;
    text-indent: 2em
    }
.calibre31 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: left
    }
.calibre32 {
    display: block;
    font-family: "cnepub", serif;
    font-size: 1em;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0%;
    text-align: justify
    }
.calibre33 {
    display: block;
    font-family: "cnepub", serif;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre34 {
    display: block;
    float: none;
    font-family: "cnepub", serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 347
    }
.calibre35 {
    display: block;
    float: none;
    font-family: "cnepub", serif;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 347
    }
.calibre36 {
    display: block;
    float: none;
    font-family: "cnepub", serif;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 600
    }
.calibre37 {
    display: block;
    float: none;
    font-family: "cnepub", serif;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: 348
    }
.calibre38 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre39 {
    display: block;
    line-height: 130%;
    margin-bottom: -0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 2em
    }
.calibre40 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre41 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.illus {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: left;
    text-indent: 0
    }
.illus1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.illus2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.zuozhe {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 1em;
    margin-top: 0.4em;
    text-align: right;
    text-indent: 2em
    }
