.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre2 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    display: block
    }
.calibre5 {
    display: block;
    font-size: 1.77778em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre6 {
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    font-family: "Microsoft Yahei", Hei, Tahoma, SimHei, sans-serif;
    font-size: 0.5625em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre8 {
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    font-family: Tahoma, "Microsoft Yahei", Simsun;
    font-size: 0.88889em;
    line-height: 21px
    }
.calibre9 {
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    display: block;
    font-family: Tahoma, "Microsoft Yahei", Simsun;
    font-size: 0.88889em;
    line-height: 21px;
    word-wrap: break-word
    }
.calibre10 {
    display: block;
    font-size: 1.77778em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre11 {
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    font-family: Tahoma, "Microsoft Yahei", Simsun;
    font-size: 0.5em;
    line-height: 21px
    }
.calibre12 {
    display: block;
    line-height: 1.2
    }
.calibre13 {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 102, 153);
    font-family: Tahoma, "Microsoft Yahei", Simsun;
    font-size: 0.88889em;
    line-height: 21px;
    word-wrap: break-word
    }
.calibre14 {
    background-color: rgb(255, 255, 255)
    }
.calibre15 {
    color: #444;
    font-family: Tahoma, Microsoft Yahei, Simsun
    }
.calibre16 {
    font-size: 0.88889em;
    line-height: 21px
    }
.calibre17 {
    display: block;
    font-size: 1.25926em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre18 {
    display: block;
    font-size: 1.48148em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre19 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    widows: 1
    }
.calibre20 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.66667em
    }
.calibre21 {
    line-height: 1.2
    }
.calibre22 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre23 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
